.base {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: var(--size);
    position: relative;
}
.base [required] + label:after {
    content: "*";
    color: var(--color-error);
}
label {
    padding-bottom: calc(var(--size) * 0.25);
    display: block;
}
label * {
    display: inline-block;
}
[disabled] {
    filter: grayscale(1);
    opacity: 0.5;
    pointer-events: none;
}
