input:not([type='submit']) {
    font: var(--size) / 1.2em sans-serif;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 2px solid var(--color-text);
    border-radius: calc(var(--size) * 0.25);
    padding: calc(var(--size) * 0.25) calc(var(--size) * 0.5);
    transition: border 0.1s linear;
    outline: none;
    height: calc(var(--size) * 2.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:not([type='submit']):focus {
    border-color: var(--color-primary);
}

input:invalid {
    border-color: var(--color-error);
}
