@import '@src/form/_base.css';
@import '@src/form/_input.css';
@import '@src/form/_slider.css';
@import '@src/form/_slider-handle.css';

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input .item {
    width: calc(50% - (var(--size) / 4));
}

